DATABASE_URL="sqlite://db/files.db"
SERVER_DOMAIN="http://localhost:3000"

# Space-seprated list of custom features
# Currently supported:
# - custom_client   # Use a custom client at the root path instead of the default client
#                   # This moves the default client and its endpoints to /legacy instead
# - disable_default_client  # Disables the default client if you exclusively want to use a custom client
FEATURES=""

# Can be generated using
# python3 -c "import secrets; print(secrets.token_urlsafe(64))"
JWT_TOKEN_SECRET="random-string"

# Only include these on first run for the convenience 
# of creating an admin account. Delete these keys after that.
DEFAULT_USERNAME="username"
DEFAULT_PASSWORD="password"