DATABASE_URL="sqlite://db/files.db"
SERVER_DOMAIN="http://localhost:3000"

# Can be generated using
# python3 -c "import secrets; print(secrets.token_urlsafe(64))"
JWT_TOKEN_SECRET="random-string"

# Only include these on first run for the convenience 
# of creating an admin account. Delete these keys after that.
DEFAULT_USERNAME="username"
DEFAULT_PASSWORD="password"