/* General */
:root {
    font-family: 'sans-serif';
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: black;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Nav */
nav ul {
    display: flex;
    gap: 10px;
}

nav li a {
    color: #aaa;
}

nav li a.current {
    color: #fff;
}

@media (prefers-color-scheme: light) {
    nav li a {
        color: #6e6e6e;
    }
    
    nav li a.current {
        color: #000000;
    }
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

form label input {
    width: 200px;
}

/* Files List */
:is(.files-list, .users-list) {
    display: grid;
}

:is(.files-list, .users-list) > li {
    display: grid;
    padding: 10px;
    border-bottom: 1px solid #555;
    gap: 10px;
    overflow-x: scroll;
}

:is(.files-list, .users-list) :is(.header, .content, .metadata) {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
}

:is(.files-list, .users-list) .metadata > p {
    color: #888;
}

:is(.files-list, .users-list) h3 {
    font-size: 1.1rem;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

:is(.files-list, .users-list) p {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    word-wrap: break-word;
    font-size: 0.9rem;
    color: #ccc;
}

:is(.files-list, .users-list) img {
    width: 0.8rem;
}

:is(.files-list, .users-list) .header form {
    grid-area: delete;
}

:is(.files-list, .users-list) button {
    color: white;
    background-color: #781212;
    padding: 0px 3px;
    border: 1px solid white;
    font-weight: 800;
    font-size: 1.1rem;
    border-radius: 5px;
}

:is(.files-list, .users-list) button:hover {
    background-color: #941313;

}

:is(.files-list, .users-list) .deleted {
    background-color: #290c0c
}

.users-list .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul li ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

ul li ul li input {
    display: block;
}